@import './base.css';



body {
  min-height: 100vh;
}

@media (min-width: 768px) {
  .sidebar-lg {
    width: 220px;
    background-color: #343a40;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 56px;
  }

  .content {
    margin-left: 220px;
    padding: 20px;
  }

  .navbar-custom {
    margin-left: 220px;
  }
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


